name: app_extension
description: Common extensions for Vote App
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.8.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  app_l10n:
    path: ../l10n

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
