name: app_l10n
description: Localization package for Vote App
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.8.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
flutter_localizations:
  sdk: flutter
intl: ^0.20.2

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  generate: true
